1)Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1.	First get the webpage https://www.shine.com/
2.	Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3.	Then click the searchbutton.
4.	Then scrape the data for the first 10 jobs results you get.
5.	Finally create a dataframe of the scraped data.

In [41]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import warnings
warnings.filterwarnings("ignore")
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select

In [191]:
#for blocking the notification
option = Options()

option.add_argument("--disable-infobars")
option.add_argument("start-maximized")
option.add_argument("--disable-extensions")

# Pass the argument 1 to allow and 2 to block
option.add_experimental_option("prefs", { 
    "profile.default_content_setting_values.notifications": 1 
})


#web_driver=webdriver.Chrome(r"C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")
web_driver=webdriver.Chrome(chrome_options=option, executable_path="C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")

In [192]:
#1.First get the webpage https://www.shine.com/

url = "https://www.shine.com/"
web_driver.get(url)

In [193]:
#Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.

Job_title = web_driver.find_element_by_xpath('//input[@type="text" and @id="id_q"]')
Job_title
Job_title.send_keys('Data Analyst')

In [194]:
Job_location = web_driver.find_element_by_xpath('//input[@type="text" and @id="id_loc"]')
Job_location
Job_location.send_keys('Bangalore')

In [195]:
search_btn= web_driver.find_element_by_xpath('//button[@type="submit"]').click()
search_btn

In [196]:
#scrape the data for the first 10 jobs results you get

#jobtitle:
Job_tags=web_driver.find_elements_by_tag_name('h2')
#Job_tags
for i in Job_tags:
    print(i.text)

Project Coordinator (Data Analyst)
Data Analyst - Java/Python
Hiring For Data Analyst
Senior Data Analyst
Data Analyst
Data Analyst Urgent Recruiment
How relevant did you find the job search results ?
Apply Now a Data Analyst
Apply Now Data Analyst
Needed for Data Analyst
Urgently need a Data Analyst
Require now Data Analyst
Data Analyst
Data Analyst in Bpo
Project Coordinator (Data Analyst)
Clinical Data Analyst
Data Analyst
Data Analyst
Data Analyst
opening data analyst -Bangalore
Data Analyst - Bangalore

Project Coordinator (Data Analyst)

In [197]:
job_titles=[]
for i in Job_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[:10]

['Project Coordinator (Data Analyst)',
 'Data Analyst - Java/Python',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst Urgent Recruiment',
 'How relevant did you find the job search results ?',
 'Apply Now a Data Analyst',
 'Apply Now Data Analyst',
 'Needed for Data Analyst']

In [198]:
# lets extract all the tags having company names
company_tags=web_driver.find_elements_by_xpath("//div[@class='jobCard_jobCard_cName__mYnow']//span")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_193")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_194")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_195")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_196")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_197")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_198")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_199")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_200")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_201")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_202")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_203")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_204")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_206")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_207")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_208")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_209")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_210")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_211")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_212")>]

In [199]:
companies_names=[]

for i in company_tags:
    companies_names.append(i.text)
companies_names[:10]

['futures and careers',
 'boyen haddin consulting and technol...',
 'kavya staffing solutions',
 'ara resources private limited',
 'ashutosh sabhashankar chaturvedi hi...',
 'divya interprises',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited']

In [200]:
experience_tags=web_driver.find_elements_by_xpath("//div[contains(@class,'jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t')]")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_213")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_214")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_215")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_216")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_217")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_218")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_219")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_220")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_222")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_223")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_224")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_225")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_227")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_228")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_229")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_230")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_231")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_232")>]

In [201]:
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)
experience_list[:10]

['2 to 4 Yrs',
 '3 to 6 Yrs',
 '0 to 4 Yrs',
 '2 to 5 Yrs',
 '7 to 12 Yrs',
 '0 to 4 Yrs',
 '1 to 2 Yrs',
 '1 to 2 Yrs',
 '1 to 2 Yrs',
 '1 to 2 Yrs']

In [202]:
locations_tags=web_driver.find_elements_by_xpath("//div[contains(@class,'jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2')]")
locations_tags

[<selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_233")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_234")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_235")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_236")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_237")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_238")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_239")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_240")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_241")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_242")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_243")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_244")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_245")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_246")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_247")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_248")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_249")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_250")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_251")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_252")>]

In [205]:
locations_list=[]
for i in locations_tags:
    locations_list.append(i.text)
locations_list[:10]

['Bangalore',
 'Bangalore',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [206]:
print(len(job_titles[:10])),print(len(companies_names[:10])),print(len(experience_list[:10])),print(len(locations_list[:10]))

10
10
10
10

(None, None, None, None)

In [207]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['location']=locations_list[:10]
jobs['company']=companies_names[:10]
jobs['experience_required']=experience_list[:10]

In [122]:
jobs

,title,location,company,experience_required
0,Project Coordinator (Data Analyst),Bangalore,futures and careers,2 to 4 Yrs
1,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
2,Hiring For Data Analyst,Bangalore\n+14,kavya staffing solutions,0 to 4 Yrs
3,Senior Data Analyst,Bangalore,ara resources private limited,2 to 5 Yrs
4,Data Analyst,Bangalore\n+9,ashutosh sabhashankar chaturvedi hi...,7 to 12 Yrs
5,Data Analyst Urgent Recruiment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,How relevant did you find the job search resul...,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
7,Apply Now a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
8,Apply Now Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
9,Needed for Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1.	First get the webpage https://www.shine.com/
2.	Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3.	Then click the search button.
4.	Then scrape the data for the first 10 jobs results you get.
5.	Finally create a dataframe of the scraped data.

In [178]:
#for blocking the notification
option = Options()

option.add_argument("--disable-infobars")
option.add_argument("start-maximized")
option.add_argument("--disable-extensions")

# Pass the argument 1 to allow and 2 to block
option.add_experimental_option("prefs", { 
    "profile.default_content_setting_values.notifications": 1 
})


#web_driver=webdriver.Chrome(r"C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")
web_driver=webdriver.Chrome(chrome_options=option, executable_path="C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")

In [179]:
#1.First get the webpage https://www.shine.com/

url = "https://www.shine.com/"
web_driver.get(url)

In [180]:
#Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.

Job_title = web_driver.find_element_by_xpath('//input[@type="text" and @id="id_q"]')
Job_title
Job_title.send_keys('Data Analyst')

Job_location = web_driver.find_element_by_xpath('//input[@type="text" and @id="id_loc"]')
Job_location
Job_location.send_keys('Bangalore')

In [181]:
search_btn= web_driver.find_element_by_xpath('//button[@type="submit"]').click()
search_btn

In [185]:
#jobtitle:
Job_tags=web_driver.find_elements_by_tag_name('h2')
#Job_tags
for i in Job_tags:
    print(i.text) 
    
job_titles=[]
for i in Job_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[:10]

Project Coordinator (Data Analyst)
Data Analyst - Java/Python
Hiring For Data Analyst
Senior Data Analyst
Data Analyst
Data Analyst Urgent Recruiment
How relevant did you find the job search results ?
Apply Now a Data Analyst
Apply Now Data Analyst
Needed for Data Analyst
Urgently need a Data Analyst
Require now Data Analyst
Data Analyst
Data Analyst in Bpo
Project Coordinator (Data Analyst)
Clinical Data Analyst
Data Analyst
Data Analyst
Data Analyst
opening data analyst -Bangalore
Data Analyst - Bangalore

Project Coordinator (Data Analyst)

['Project Coordinator (Data Analyst)',
 'Data Analyst - Java/Python',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst Urgent Recruiment',
 'How relevant did you find the job search results ?',
 'Apply Now a Data Analyst',
 'Apply Now Data Analyst',
 'Needed for Data Analyst']

In [186]:
# lets extract all the tags having company names
company_tags=web_driver.find_elements_by_xpath("//div[@class='jobCard_jobCard_cName__mYnow']//span")
company_tags

companies_names=[]

for i in company_tags:
    companies_names.append(i.text)
companies_names[:10]

['futures and careers',
 'boyen haddin consulting and technol...',
 'kavya staffing solutions',
 'ara resources private limited',
 'ashutosh sabhashankar chaturvedi hi...',
 'divya interprises',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited']

In [187]:
locations_tags=web_driver.find_elements_by_xpath("//div[contains(@class,'jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2')]")
locations_tags

locations_list=[]
for i in locations_tags:
    locations_list.append(i.text)
locations_list[:10]

['Bangalore',
 'Bangalore',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [188]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['location']=locations_list[:10]
jobs['company']=companies_names[:10]

In [189]:
jobs

,title,location,company
0,Project Coordinator (Data Analyst),Bangalore,futures and careers
1,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...
2,Hiring For Data Analyst,Bangalore\n+14,kavya staffing solutions
3,Senior Data Analyst,Bangalore,ara resources private limited
4,Data Analyst,Bangalore\n+9,ashutosh sabhashankar chaturvedi hi...
5,Data Analyst Urgent Recruiment,Bangalore\n+14,divya interprises
6,How relevant did you find the job search resul...,Bangalore,deuglo infosystem private limited
7,Apply Now a Data Analyst,Bangalore,deuglo infosystem private limited
8,Apply Now Data Analyst,Bangalore,deuglo infosystem private limited
9,Needed for Data Analyst,Bangalore,deuglo infosystem private limited

Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1.	first get the web page https://www.shine.com/
2.	Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3.	Then click the search button.
4.	Then apply the location filter and salary filter by checking the respective boxes
5.	Then scrape the data for the first 10 jobs results you get.
6.	Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [50]:
#for blocking the notification
option = Options()

option.add_argument("--disable-infobars")
option.add_argument("start-maximized")
option.add_argument("--disable-extensions")

# Pass the argument 1 to allow and 2 to block
option.add_experimental_option("prefs", { 
    "profile.default_content_setting_values.notifications": 1 
})


#web_driver=webdriver.Chrome(r"C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")
web_driver=webdriver.Chrome(chrome_options=option, executable_path="C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")

In [51]:
#1.First get the webpage https://www.shine.com/

url = "https://www.shine.com/"
web_driver.get(url)

In [54]:
#2.	Enter “Data Scientist” in “Skill, Designations, and Companies” field.
Job_title3 = web_driver.find_element_by_xpath('//input[@type="text" and @id="id_q"]')
Job_title3
Job_title3.send_keys('Data Analyst')

In [55]:
search_btn3= web_driver.find_element_by_xpath('//button[@type="submit"]').click()
search_btn3

In [69]:
#4.	Then apply the location filter and salary filter by checking the respective boxes

Job_location_Filter = web_driver.find_element_by_xpath("/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[1]/button")
Job_location_Filter.click()

# Job_location_Filter.send_keys('Delhi')

In [100]:
Job_location_Filter11 = web_driver.find_element_by_xpath('//input[@type="text" and @id="search"]')
Job_location_Filter11
Job_location_Filter11.send_keys('DELHI')

In [101]:
Job_location_Filter11=web_driver.find_element_by_xpath("/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label").click()
Job_location_Filter11

In [102]:
Job_location_Delhi=web_driver.find_element_by_xpath('//*[@id="__next"]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]').click()
Job_location_Delhi

In [103]:
salary_Filter = web_driver.find_element_by_xpath('//*[@id="__next"]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[3]/button').click()
salary_Filter11= web_driver.find_element_by_xpath('//input[@type="text" and @id="search"]')
salary_Filter11.send_keys('3 TO 5 Lakh')

In [104]:
salary_Filter12=web_driver.find_element_by_xpath('//*[@id="__next"]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]').click()
salary_Filter12

In [105]:
#jobtitle:
Job_tags1=web_driver.find_elements_by_tag_name('h2')
#Job_tags
for i in Job_tags1:
    print(i.text) 
    
job_titles1=[]
for i in Job_tags1:
    if i.text is None:
        job_titles1.append('Not')
    else:
        job_titles1.append(i.text)
job_titles1[:10]

Data Analyst
Market Data Analyst
Data Analyst
Dy. Manager/Manager Process Data Analytics
Data Analyst
for _GCP Data Engineer/Lead/Architect- Delhi
How relevant did you find the job search results ?
for _GCP Data Engineer/Lead/Architect- Delhi
Data Entry Delhi
Data Entry Delhi
Power BI Architect - Reporting Tools
Senior Data Engineer - Hadoop/Python/Big Data
Position for _GCP Data Engineer/Lead- Delhi
Data Entry Delhi
Require for Data Analyst -Reputed IT Industry -Delhi NC ...
Need Data Entry
Req. For Data Analyst-Reputed IT Industry-Delhi NCR
Data Engineer Delhi
Data Engineer - Visualization/Reporting Tools
required for Data Engineer
Enterprise Sales Executive - Data Intelligence Platform ...

['Data Analyst',
 'Market Data Analyst',
 'Data Analyst',
 'Dy. Manager/Manager Process Data Analytics',
 'Data Analyst',
 'for _GCP Data Engineer/Lead/Architect- Delhi',
 'How relevant did you find the job search results ?',
 'for _GCP Data Engineer/Lead/Architect- Delhi',
 'Data Entry Delhi',
 'Data Entry Delhi']

In [106]:
# lets extract all the tags having company names
company_tags1=web_driver.find_elements_by_xpath("//div[@class='jobCard_jobCard_cName__mYnow']//span")
company_tags1

companies_names1=[]

for i in company_tags1:
    companies_names1.append(i.text)
companies_names1[:10]

['ashutosh sabhashankar chaturvedi hi...',
 'hyatt',
 'orcapod consulting services pvt. lt...',
 'boyen haddin consulting and technol...',
 'uscreen',
 'nina s hr consultancy',
 'nina s hr consultancy',
 'alpine manpower services',
 'alpine manpower services',
 'boyen haddin consulting and technol...']

In [107]:
experience_tags1=web_driver.find_elements_by_xpath("//div[contains(@class,'jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t')]")
experience_tags1
experience_list1=[]
for i in experience_tags1:
    experience_list1.append(i.text)
experience_list1[:10]

['7 to 12 Yrs',
 '2 to 3 Yrs',
 '2 to 4 Yrs',
 '5 to 9 Yrs',
 '3 to 4 Yrs',
 '2 to 3 Yrs',
 '2 to 3 Yrs',
 '0 to 3 Yrs',
 '0 to 3 Yrs',
 '3 to 5 Yrs']

In [108]:
locations_tags1=web_driver.find_elements_by_xpath("//div[contains(@class,'jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2')]")
locations_tags1

locations_list1=[]
for i in locations_tags1:
    locations_list1.append(i.text)
locations_list1[:10]

['Delhi\n+9',
 'Delhi',
 'Delhi\n+2',
 'Delhi\n+6',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi\n+4']

In [109]:
print(len(job_titles1[:10])),print(len(companies_names1[:10])),print(len(experience_list1[:10])),print(len(locations_list1[:10]))

10
10
10
10

(None, None, None, None)

In [110]:
jobs1=pd.DataFrame({})
jobs1['title']=job_titles1[:10]
jobs1['location']=locations_list1[:10]
jobs1['company']=companies_names1[:10]
jobs1['experience_required']=experience_list1[:10]
jobs1

,title,location,company,experience_required
0,Data Analyst,Delhi\n+9,ashutosh sabhashankar chaturvedi hi...,7 to 12 Yrs
1,Market Data Analyst,Delhi,hyatt,2 to 3 Yrs
2,Data Analyst,Delhi\n+2,orcapod consulting services pvt. lt...,2 to 4 Yrs
3,Dy. Manager/Manager Process Data Analytics,Delhi\n+6,boyen haddin consulting and technol...,5 to 9 Yrs
4,Data Analyst,Delhi,uscreen,3 to 4 Yrs
5,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs
6,How relevant did you find the job search resul...,Delhi,nina s hr consultancy,2 to 3 Yrs
7,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,alpine manpower services,0 to 3 Yrs
8,Data Entry Delhi,Delhi,alpine manpower services,0 to 3 Yrs
9,Data Entry Delhi,Delhi\n+4,boyen haddin consulting and technol...,3 to 5 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6.	Brand
7.	Product Description
8.	Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1.	Go to Flipkart webpage by url : https://www.flipkart.com/
2.	Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3.	After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4.	After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5.	Now scrape data from this page as usual
6.	Repeat this until you get data for 100sunglasses.

In [112]:
web_driver=webdriver.Chrome(r"C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")
url_f = "https://www.flipkart.com/"
web_driver.get(url_f)

In [113]:
#cross login page
cross_btn= web_driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()
cross_btn

In [117]:
#searn sunglass
search_sunglass= web_driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').click()
search_sunglass
#search_sunglass.send_keys('sunglass')

In [125]:
search_sunglass = web_driver.find_element_by_xpath("//input[@class='_3704LK' and @type='text']").send_keys("sunglass")
search_sunglass

In [127]:
#click the search icon
search_button= web_driver.find_element_by_xpath('//button[@class="L0Z3Pu" and @type="submit"]').click()
search_button

In [142]:
glass_name=[]
Price=[]
Pr_desc=[]
Discount=[]

In [143]:
for i in range(3):
    glass= web_driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    p_desc =web_driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price = web_driver.find_elements_by_xpath("//div[@class='_25b18c']")
    discount= web_driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for j in  glass:
         glass_name.append(j.text)
    glass_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [145]:
print(len( glass_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [147]:
#create dataframe
sun_glass=pd.DataFrame({})
sun_glass['Brand_name']=glass_name[:100]
sun_glass['P_price']=Price[:100]
sun_glass['Pr_desc']=P_desc[:100]
sun_glass['P_discount']=Discount[:100]
sun_glass

,Brand_name,P_price,Pr_desc,P_discount
0,VINCENT CHASE,"₹883₹1,99955% off","Polarized, UV Protection Round Sunglasses (50)",55% off
1,GANSTA,"₹292₹1,99985% off","Gradient, UV Protection Aviator Sunglasses (57)",85% off
2,SRPM,"₹204₹1,29984% off",UV Protection Wayfarer Sunglasses (50),84% off
3,PIRASO,"₹239₹1,59985% off",UV Protection Clubmaster Sunglasses (54),85% off
4,Elligator,₹179₹59970% off,"UV Protection Cat-eye, Retro Square, Oval, Rou...",70% off
...,...,...,...,...
95,Fastrack,₹629₹89930% off,UV Protection Retro Square Sunglasses (54),77% off
96,agera,"₹999₹3,00066% off",UV Protection Round Sunglasses (Free Size),87% off
97,IDEE,"₹3,134₹6,00047% off",UV Protection Wayfarer Sunglasses (59),52% off
98,sunwear,"₹769₹1,09930% off",Mirrored Aviator Sunglasses (58),55% off
99,Elligator,₹199₹99980% off,"by Lenskart Polarized, UV Protection Aviator S...",70% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART
            As shown in the above page you have to scrape the tick marked attributes. These are:
1.	Rating
2.	Review summary
3.	Full review
4.	You have to scrape this data for first 100reviews.

In [167]:
web_driver=webdriver.Chrome(r"C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")
url_p = "https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART"
web_driver.get(url_p)

In [157]:
rating=[]
review=[]
full_review=[]

In [170]:
for index in range(3):
    Rating= web_driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    Reveiw =web_driver.find_elements_by_xpath("//div//p[@class='_2-N8zT']")
    Full_Reveiw= web_driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    
    for t in Rating:
         rating.append(t.text)
    rating[:100]    
    
    
    
    for o in Reveiw:
        review.append(o.text)
    review[:100] 
    
    
    for n in Full_Reveiw:
        full_review.append(n.text)
    full_review[:100]

In [171]:
print(len( rating[:100])),print(len(review[:100])),print(len(full_review[:100]))

100
100
100

(None, None, None)

In [172]:
#create dataframe
iphone=pd.DataFrame({})
iphone['Brand_name']=rating[:100]
iphone['P_price']=review[:100]
iphone['Pr_desc']=full_review[:100]

iphone

,Brand_name,P_price,Pr_desc
0,5,Awesome,Photos super
1,5,Great product,Camera is awesome\nBest battery backup\nA perf...
2,5,Delightful,Very very good
3,5,Great product,This is amazing at all
4,5,Fabulous!,V Good all
...,...,...,...
95,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
96,5,Terrific,Very very good
97,5,Wonderful,This is amazing at all
98,5,Perfect product!,V Good all
99,5,Worth every penny,Feeling awesome after getting the delivery of ...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1.	Brand
2.	Product Description
3.	Price

In [189]:
web_driver=webdriver.Chrome(r"C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")
url_f = "https://www.flipkart.com/"
web_driver.get(url_f)

In [190]:
#cross login page
cross_btn= web_driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()
cross_btn

In [191]:
search_sneaker= web_driver.find_element_by_xpath("//input[@type='text']")
search_sneaker.send_keys('sneakers')

In [197]:
search_btn=web_driver.find_element_by_xpath('//button[@class="L0Z3Pu" and @type="submit"]').click()
search_btn

In [198]:
B_name=[]
Price=[]
P_desc=[]

In [199]:
for i in range(2):
    b_name=web_driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    p_desc=web_driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price =web_driver.find_elements_by_xpath("//div[@class='_25b18c']")

    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    

    
    
    for g in price:
        Price.append(g.text)
    Price[:100] 
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100]

In [200]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

100
100
100

(None, None, None)

In [201]:
shoes=pd.DataFrame({})
shoes['Brand_name']=B_name[:100]
shoes['P_price']=Price[:100]
shoes['Pr_desc']=P_desc[:100]
shoes

,Brand_name,P_price,Pr_desc
0,Elevarse,₹279₹89968% off,Comfortable and Light Weight sports shoes for ...
1,Elevarse,₹279₹89968% off,Smart Sports running shoes for men and boys Sn...
2,PUMA,"₹1,508₹3,99962% off",UP Sneakers For Men
3,Nobelite,₹499₹99850% off,Sneakers For Men
4,BRUTON,"₹379₹1,29970% off",Modern Trendy Shoes Sneakers For Men
...,...,...,...
95,PUMA,"₹3,999₹4,99920% off",Sneakers For Men
96,SFR,₹549₹99945% off,Street Style Sneakers For Men
97,SFR,"₹449₹1,29965% off",Club Culture Sneakers For Men
98,Free Kicks,"₹1,299₹3,99967% off","Lightweight,Comfort,Summer,Trendy,Walking,Outd..."
99,aadi,₹499₹99850% off,Spectrum V2 Sneakers For Men

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1.	Title
2.	Ratings
3.	Price

In [202]:
web_driver=webdriver.Chrome(r"C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")
url_f = "https://www.amazon.in/ "
web_driver.get(url_f)

In [205]:
search_g= web_driver.find_element_by_xpath("//input[@type='text']")
search_g
search_g.send_keys('Laptop')

In [206]:
search_btn=web_driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
search_btn
search_btn.click()

In [208]:
search_intel=web_driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div')
search_intel
search_intel.click()

In [211]:
Title=[]
Price=[]
Rating=[]

In [215]:
for i in range(2):
    b_name=web_driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    price =web_driver.find_elements_by_xpath("//span[@class='a-price-whole']")
    rating=web_driver.find_elements_by_xpath("//span[@class='a-size-base puis-normal-weight-text']")
    
    
    for j  in b_name:
        Title.append(j.text)
    Title[:10]    
    
    

    
    for l in price:
        Price.append(l.text)
    Price[:10] 
    
    for k in rating:
        Rating.append(k.text)
    Rating[:10]

In [216]:
print(len(B_name[:10])),print(len(Price[:10])),print(len(P_desc[:10]))

10
10
10

(None, None, None)

In [218]:
laptop=pd.DataFrame({})
laptop['Title']=Title[:10]
laptop['Rating']=Rating[:10]
laptop['Price']=Price[:10]

laptop

                                               Title Rating     Price
0  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...    4.0    76,990
1  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...    4.5    64,990
2  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...    4.6    70,990
3  Dell Vostro 5630 13th Gen Laptop,Intel i7-1355...    4.0    89,990
4  Acer Nitro 5 12th Gen Intel Core i7-12650H Gam...    3.3    99,990
5  Dell Inspiron 5430 13th Gen Laptop, Intel i7-1...    3.3    86,249
6  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...    4.4    89,990
7  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...    4.1    62,990
8  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...    3.6  1,15,990
9  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...    4.2    52,990

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1.	First get the webpagehttps://www.azquotes.com/
2.	Click on Top Quotes
3.	Than scrap a) Quote b) Author c) Type Of Quotes

In [220]:
web_driver=webdriver.Chrome(r"C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")
url_f = "https://www.azquotes.com/"
web_driver.get(url_f)

In [221]:

#Click on Top Quotes
clicl_top=web_driver.find_element_by_xpath('//*[@id="menu"]/div/div[3]/ul/li[5]/a').click()
clicl_top

In [280]:
#3.	Than scrap a) Quote b) Author c) Type Of Quotes
Quote=[]
Author=[]
Type_Of_Quotes=[]

In [223]:
for i in range(2):
    quote=web_driver.find_elements_by_xpath("//a[@class='title']")
    author =web_driver.find_elements_by_xpath("//div[@class='author']")
    type_of_quote=web_driver.find_elements_by_xpath("//div[@class='tags']")
    
    
    for j  in quote:
        Quote.append(j.text)
    Quote[:1000]    
    
    

    
    for l in author:
        Author.append(l.text)
    Author[:1000] 
    
    for k in type_of_quote:
        Type_Of_Quotes.append(k.text)
    Type_Of_Quotes[:1000]

In [224]:
print(len(Quote[:1000])),print(len(Author[:1000])),print(len(Type_Of_Quotes[:1000]))

200
200
200

(None, None, None)

In [225]:
Quotes=pd.DataFrame({})
Quotes['Quote']=Quote[:1000]
Quotes['Author']=Author[:1000]
Quotes['type_Of_Quotes']=Type_Of_Quotes[:1000]

Quotes

,Quote,Author,type_Of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
195,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
196,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
197,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
198,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
199,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.

This task will be done in following steps:
1.	First get the webpagehttps://www.jagranjosh.com/
2.	Then You have to click on the GK option
3.	Then click on the List of all Prime Ministers of India
4.	Then scrap the mentioned data and make theDataFrame.

In [282]:
web_driver=webdriver.Chrome(r"C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")
url_f = "https://www.jagranjosh.com/"
web_driver.get(url_f)

In [283]:
#Then You have to click on the GK option
clicl_gk=web_driver.find_element_by_xpath('//*[@id="__next"]/header/nav/div/div/div[3]/ul/li[3]/a').click()
clicl_gk

In [284]:
clicl_gk_in=web_driver.find_element_by_xpath('//a[@href="#indiaGK"]').click()
clicl_gk_in

In [285]:
#3.	Then click on the List of all Prime Ministers of India
prime_min=web_driver.find_element_by_xpath('//a[@href="/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1"]').click()
prime_min

In [302]:
rows = 1+len(web_driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr"))

# Obtain the number of columns in table
cols = len(web_driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr/td[1]"))

In [303]:
# Print rows and columns
print(rows)
print(cols)

21
19

In [304]:
# Printing the table headers
print("S.N. "+"   PM Name"+ "   Born-Dead "+" Term of office "+" Remark ")

S.N.    PM Name   Born-Dead  Term of office  Remark

In [306]:
# Printing the data of the table
for r in range(2, rows+1):
    for p in range(1, cols+1):
       
        # obtaining the text from each column of the table
        value = web_driver.find_element(By.XPATH,
            "/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]").text
        print(value, end='       ')
    print()

Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru

Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru       Jawahar Lal Nehru
Jawahar Lal Nehru       Jawahar Lal Nehru

KeyboardInterrupt:

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/

This task will be done in following steps:
1.	First get the webpage https://www.motor1.com/
2.	Then You have to type in the search bar ’50 most expensive cars’
3.	Then click on 50 most expensive cars in the world..
4.	Then scrap the mentioned data and make the dataframe.

In [259]:
web_driver=webdriver.Chrome(r"C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")
url_f = "https://www.motor1.com/"
web_driver.get(url_f)

In [260]:
search_car = web_driver.find_element_by_xpath("//input[@class='m1-search-panel-input m1-search-form-text' and @id='search_input']").send_keys("50 most expensive cars")
search_car

In [272]:
search_car_click = web_driver.find_element_by_xpath('/html/body/div[10]/div[2]/div/div/div[3]/div/div/button')
search_car_click

In [273]:
search_car_click.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=116.0.5845.111)
Stacktrace:
	GetHandleVerifier [0x00007FF7756352A2+57122]
	(No symbol) [0x00007FF7755AEA92]
	(No symbol) [0x00007FF77547E25D]
	(No symbol) [0x00007FF7754B8E97]
	(No symbol) [0x00007FF7754AF25F]
	(No symbol) [0x00007FF7754D6FDA]
	(No symbol) [0x00007FF7754AEB76]
	(No symbol) [0x00007FF7754D71F0]
	(No symbol) [0x00007FF7754EEB82]
	(No symbol) [0x00007FF7754D6DB3]
	(No symbol) [0x00007FF7754AD2B1]
	(No symbol) [0x00007FF7754AE494]
	GetHandleVerifier [0x00007FF7758DEF82+2849794]
	GetHandleVerifier [0x00007FF775931D24+3189156]
	GetHandleVerifier [0x00007FF77592ACAF+3160367]
	GetHandleVerifier [0x00007FF7756C6D06+653702]
	(No symbol) [0x00007FF7755BA208]
	(No symbol) [0x00007FF7755B62C4]
	(No symbol) [0x00007FF7755B63F6]
	(No symbol) [0x00007FF7755A67A3]
	BaseThreadInitThunk [0x00007FFF48897614+20]
	RtlUserThreadStart [0x00007FFF48F426B1+33]