1)Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1.	First get the webpage https://www.shine.com/
2.	Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3.	Then click the searchbutton.
4.	Then scrape the data for the first 10 jobs results you get.
5.	Finally create a dataframe of the scraped data.

In [190]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import warnings
warnings.filterwarnings("ignore")
import time

In [191]:
#for blocking the notification
option = Options()

option.add_argument("--disable-infobars")
option.add_argument("start-maximized")
option.add_argument("--disable-extensions")

# Pass the argument 1 to allow and 2 to block
option.add_experimental_option("prefs", { 
    "profile.default_content_setting_values.notifications": 1 
})


#web_driver=webdriver.Chrome(r"C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")
web_driver=webdriver.Chrome(chrome_options=option, executable_path="C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")

In [192]:
#1.First get the webpage https://www.shine.com/

url = "https://www.shine.com/"
web_driver.get(url)

In [193]:
#Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.

Job_title = web_driver.find_element_by_xpath('//input[@type="text" and @id="id_q"]')
Job_title
Job_title.send_keys('Data Analyst')

In [194]:
Job_location = web_driver.find_element_by_xpath('//input[@type="text" and @id="id_loc"]')
Job_location
Job_location.send_keys('Bangalore')

In [195]:
search_btn= web_driver.find_element_by_xpath('//button[@type="submit"]').click()
search_btn

In [196]:
#scrape the data for the first 10 jobs results you get

#jobtitle:
Job_tags=web_driver.find_elements_by_tag_name('h2')
#Job_tags
for i in Job_tags:
    print(i.text)

Project Coordinator (Data Analyst)
Data Analyst - Java/Python
Hiring For Data Analyst
Senior Data Analyst
Data Analyst
Data Analyst Urgent Recruiment
How relevant did you find the job search results ?
Apply Now a Data Analyst
Apply Now Data Analyst
Needed for Data Analyst
Urgently need a Data Analyst
Require now Data Analyst
Data Analyst
Data Analyst in Bpo
Project Coordinator (Data Analyst)
Clinical Data Analyst
Data Analyst
Data Analyst
Data Analyst
opening data analyst -Bangalore
Data Analyst - Bangalore

Project Coordinator (Data Analyst)

In [197]:
job_titles=[]
for i in Job_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[:10]

['Project Coordinator (Data Analyst)',
 'Data Analyst - Java/Python',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst Urgent Recruiment',
 'How relevant did you find the job search results ?',
 'Apply Now a Data Analyst',
 'Apply Now Data Analyst',
 'Needed for Data Analyst']

In [198]:
# lets extract all the tags having company names
company_tags=web_driver.find_elements_by_xpath("//div[@class='jobCard_jobCard_cName__mYnow']//span")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_193")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_194")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_195")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_196")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_197")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_198")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_199")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_200")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_201")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_202")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_203")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_204")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_206")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_207")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_208")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_209")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_210")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_211")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_212")>]

In [199]:
companies_names=[]

for i in company_tags:
    companies_names.append(i.text)
companies_names[:10]

['futures and careers',
 'boyen haddin consulting and technol...',
 'kavya staffing solutions',
 'ara resources private limited',
 'ashutosh sabhashankar chaturvedi hi...',
 'divya interprises',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited']

In [200]:
experience_tags=web_driver.find_elements_by_xpath("//div[contains(@class,'jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t')]")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_213")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_214")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_215")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_216")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_217")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_218")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_219")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_220")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_222")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_223")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_224")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_225")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_227")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_228")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_229")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_230")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_231")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_232")>]

In [201]:
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)
experience_list[:10]

['2 to 4 Yrs',
 '3 to 6 Yrs',
 '0 to 4 Yrs',
 '2 to 5 Yrs',
 '7 to 12 Yrs',
 '0 to 4 Yrs',
 '1 to 2 Yrs',
 '1 to 2 Yrs',
 '1 to 2 Yrs',
 '1 to 2 Yrs']

In [202]:
locations_tags=web_driver.find_elements_by_xpath("//div[contains(@class,'jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2')]")
locations_tags

[<selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_233")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_234")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_235")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_236")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_237")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_238")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_239")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_240")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_241")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_242")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_243")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_244")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_245")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_246")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_247")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_248")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_249")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_250")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_251")>,
 <selenium.webdriver.remote.webelement.WebElement (session="014d9a120dbca4e16e9852c2ec62734b", element="B89D1B359ED834E125F8EFD6772EFB1F_element_252")>]

In [205]:
locations_list=[]
for i in locations_tags:
    locations_list.append(i.text)
locations_list[:10]

['Bangalore',
 'Bangalore',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [206]:
print(len(job_titles[:10])),print(len(companies_names[:10])),print(len(experience_list[:10])),print(len(locations_list[:10]))

10
10
10
10

(None, None, None, None)

In [207]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['location']=locations_list[:10]
jobs['company']=companies_names[:10]
jobs['experience_required']=experience_list[:10]

In [122]:
jobs

,title,location,company,experience_required
0,Project Coordinator (Data Analyst),Bangalore,futures and careers,2 to 4 Yrs
1,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
2,Hiring For Data Analyst,Bangalore\n+14,kavya staffing solutions,0 to 4 Yrs
3,Senior Data Analyst,Bangalore,ara resources private limited,2 to 5 Yrs
4,Data Analyst,Bangalore\n+9,ashutosh sabhashankar chaturvedi hi...,7 to 12 Yrs
5,Data Analyst Urgent Recruiment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,How relevant did you find the job search resul...,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
7,Apply Now a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
8,Apply Now Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
9,Needed for Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1.	First get the webpage https://www.shine.com/
2.	Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3.	Then click the search button.
4.	Then scrape the data for the first 10 jobs results you get.
5.	Finally create a dataframe of the scraped data.

In [178]:
#for blocking the notification
option = Options()

option.add_argument("--disable-infobars")
option.add_argument("start-maximized")
option.add_argument("--disable-extensions")

# Pass the argument 1 to allow and 2 to block
option.add_experimental_option("prefs", { 
    "profile.default_content_setting_values.notifications": 1 
})


#web_driver=webdriver.Chrome(r"C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")
web_driver=webdriver.Chrome(chrome_options=option, executable_path="C:\Learning\FLIPNROBO\chromedriver-win64\chromedriver.exe")

In [179]:
#1.First get the webpage https://www.shine.com/

url = "https://www.shine.com/"
web_driver.get(url)

In [180]:
#Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.

Job_title = web_driver.find_element_by_xpath('//input[@type="text" and @id="id_q"]')
Job_title
Job_title.send_keys('Data Analyst')

Job_location = web_driver.find_element_by_xpath('//input[@type="text" and @id="id_loc"]')
Job_location
Job_location.send_keys('Bangalore')

In [181]:
search_btn= web_driver.find_element_by_xpath('//button[@type="submit"]').click()
search_btn

In [185]:
#jobtitle:
Job_tags=web_driver.find_elements_by_tag_name('h2')
#Job_tags
for i in Job_tags:
    print(i.text) 
    
job_titles=[]
for i in Job_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[:10]

Project Coordinator (Data Analyst)
Data Analyst - Java/Python
Hiring For Data Analyst
Senior Data Analyst
Data Analyst
Data Analyst Urgent Recruiment
How relevant did you find the job search results ?
Apply Now a Data Analyst
Apply Now Data Analyst
Needed for Data Analyst
Urgently need a Data Analyst
Require now Data Analyst
Data Analyst
Data Analyst in Bpo
Project Coordinator (Data Analyst)
Clinical Data Analyst
Data Analyst
Data Analyst
Data Analyst
opening data analyst -Bangalore
Data Analyst - Bangalore

Project Coordinator (Data Analyst)

['Project Coordinator (Data Analyst)',
 'Data Analyst - Java/Python',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst Urgent Recruiment',
 'How relevant did you find the job search results ?',
 'Apply Now a Data Analyst',
 'Apply Now Data Analyst',
 'Needed for Data Analyst']

In [186]:
# lets extract all the tags having company names
company_tags=web_driver.find_elements_by_xpath("//div[@class='jobCard_jobCard_cName__mYnow']//span")
company_tags

companies_names=[]

for i in company_tags:
    companies_names.append(i.text)
companies_names[:10]

['futures and careers',
 'boyen haddin consulting and technol...',
 'kavya staffing solutions',
 'ara resources private limited',
 'ashutosh sabhashankar chaturvedi hi...',
 'divya interprises',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited']

In [187]:
locations_tags=web_driver.find_elements_by_xpath("//div[contains(@class,'jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2')]")
locations_tags

locations_list=[]
for i in locations_tags:
    locations_list.append(i.text)
locations_list[:10]

['Bangalore',
 'Bangalore',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [188]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['location']=locations_list[:10]
jobs['company']=companies_names[:10]

In [189]:
jobs

,title,location,company
0,Project Coordinator (Data Analyst),Bangalore,futures and careers
1,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...
2,Hiring For Data Analyst,Bangalore\n+14,kavya staffing solutions
3,Senior Data Analyst,Bangalore,ara resources private limited
4,Data Analyst,Bangalore\n+9,ashutosh sabhashankar chaturvedi hi...
5,Data Analyst Urgent Recruiment,Bangalore\n+14,divya interprises
6,How relevant did you find the job search resul...,Bangalore,deuglo infosystem private limited
7,Apply Now a Data Analyst,Bangalore,deuglo infosystem private limited
8,Apply Now Data Analyst,Bangalore,deuglo infosystem private limited
9,Needed for Data Analyst,Bangalore,deuglo infosystem private limited